numpy==1.24 # for pymesh testing. but can also just remove the testing line int __init__
matplotlib
scipy #

trimesh[all] # Nice plotter and manipulator. replaces numpy-stl and vtk
#torch_geometry
seaborn==0.11.0 # from numpy requirements from pymesh

# for diffusion_net
potpourri3d
scikit-learn
robust-laplacian

zenodo_get
bpy
lightning

#dgcnn
h5py

pymeshlab
polyscope

#
# ln -s diffusion-net/src/diffusion_net diffusion_net
# ln -s dgcnn/pytorch dgcnn_net
# ln -s PyMesh/python/pymesh pymesh

# for dgcnn
# h5py

# Flexicubes
# pip3 install torch==2.1.0 torchvision==0.16.0 torchaudio --index-url https://download.pytorch.org/whl/cu118
# pip install kaolin==0.15.0 -f https://nvidia-kaolin.s3.us-east-2.amazonaws.com/torch-2.1.0_cu118.html
# pip install torch-scatter -f https://data.pyg.org/whl/torch-2.1.0+cu118.html
#pip install imageio trimesh tqdm matplotlib  ninja
#pip install git+https://github.com/NVlabs/nvdiffrast/